/* SIDE NAV */
#slide-out {
    background-image: none;
}

.side-nav .logo-wrapper {
    border-bottom: 1px solid rgba(255,255,255,.65);
}

.search-input:focus {
    box-shadow: 0 1px 0 0 #fff!important;
    border-bottom: 1px solid #fff!important;
}

.logo-fundabit {
    max-width: 70%;
    border: 2px solid #df001b;
}